@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cantarell-regular {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cantarell-bold {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cantarell-regular-italic {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.cantarell-bold-italic {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: italic;
}
